@model IEnumerable<RenoshopBee.Models.Product>

@{
    ViewData["Title"] = "Index";
}

    <section class="dashboard row m-0">
    <nav class="dashboard-nav bg-light col-lg-2 container-fluid p-0">
        <ul class="list-unstyled d-flex justify-content-center align-items-flex-start flex-column">
            <li class="px-3 my-1 mx-2 py-2 d-flex align-items-center rounded-1">
                <svg class="svg-inline--fa fa-chart-bar me-3" aria-hidden="true" focusable="false" data-prefix="far" data-icon="chart-bar" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M24 32C37.25 32 48 42.75 48 56V408C48 421.3 58.75 432 72 432H488C501.3 432 512 442.7 512 456C512 469.3 501.3 480 488 480H72C32.24 480 0 447.8 0 408V56C0 42.75 10.75 32 24 32zM128 136C128 122.7 138.7 112 152 112H360C373.3 112 384 122.7 384 136C384 149.3 373.3 160 360 160H152C138.7 160 128 149.3 128 136zM296 208C309.3 208 320 218.7 320 232C320 245.3 309.3 256 296 256H152C138.7 256 128 245.3 128 232C128 218.7 138.7 208 152 208H296zM424 304C437.3 304 448 314.7 448 328C448 341.3 437.3 352 424 352H152C138.7 352 128 341.3 128 328C128 314.7 138.7 304 152 304H424z"></path></svg><!-- <i class="far fa-chart-bar me-3"></i> Font Awesome fontawesome.com -->
                Dashboard
            </li>
            <div class="accordion" id="productAccordion">
            <li class="px-3 my-1 mx-2 py-2 d-flex align-items-center rounded-1">
                <a style="text-decoration:none;color:inherit;" asp-action="Index">
                    <i class="fas fa-shopping-bag me-3"></i>
                Products
                </a>
            </li>
            </div>
        </ul>
    </nav>
        <div class="products-content col-lg-10">
            <div
                class="header-content d-flex align-items-center justify-content-between p-5 pb-0 flex-column flex-md-row gap-3 gap-lg-0">
                <h3>Product grid</h3>
                <a class="btn btn-primary text-white" onclick="openAddPage()" asp-action="Create" >
                    <i class="fas fa-plus"></i>
                    Create new
                </a>
            </div>
            <div class="grid-content m-2 m-lg-5 py-2 bg-light rounded">
                <div
                    class="product-search d-flex justify-content-between align-items-center border-bottom flex-column flex-lg-row">
                    <input type="search" placeholder="Search"
                        class="bg-light p-2 rounded border col-10 col-lg-6 mx-3 mt-3 mb-4">
                    <div class="filters d-flex gap-2 me-3 mt-3 mb-4">
                        <div class="text-capitalize category py-2 px-3 border rounded">
                            category
                            <i class="fas fa-chevron-down text-black-50 arrow ms-2"></i>
                        </div>
                        <div class="text-capitalize py-2 px-3 border rounded">
                            Last added
                            <i class="fas fa-sort ms-2"></i>
                        </div>
                    </div>
                </div>
                <div class="products-grid row pt-4 pl-4">
                @foreach (var item in Model)
                {
    
                    <div class="product-card col-md-6 col-lg-4 col-xl-3">
                        <a asp-action="Details" asp-route-id=@item.ID style="text-decoration:none;">
                        <div class="product-img">
                           <img class="img-fluid" src="@item.Img_url" alt="product">
                        </div>

                        <div class="product-name text-capitalize pt-2">
                            @Html.DisplayFor(_item => item.Name)
                        </div>
                        </a>
                        <div class="product-price mb-2">@item.Price</div>
                        <div class="modify d-flex justify-content-around">
                            <a style="text-decoration:none;" class="edit py-2 px-3 border rounded" onclick="openAddPage()" asp-action="Edit" asp-route-id=@item.ID>
                                <i class="fas fa-pen text-black-50 me-2"></i>
                                Edit
                            </a>
                            <form  method="post" asp-action="Delete" asp-route-id=@item.ID class="d-inline">
                                <button style="all:unset"  type="submit" onclick="return ConfirmDelete()" class="del text-danger py-2 px-3 border rounded">Delete</button>
                            </form>
                        </div>
                    </div>
            }
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete a Product</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="text-black-50">You are going to Delete <span class="deletedEl">element</span> from
                                products</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-danger del" data-bs-dismiss="modal" asp-action="DeleteConfirmed"  >Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pages mx-5 my-5 d-flex justify-content-center">
                <button class="prev-btn rounded border bg-light px-3">
                    Previous
                </button>
                <span class="py-2 active px-3 bg-primary text-white border">1</span>
                <span class="py-2 px-3 bg-light border">2</span>
                <span class="py-2 px-3 bg-light border">3</span>
                <button class="next-btn rounded border bg-light px-3">
                    Next
                </button>
            </div>
        </div>
        </div>
    </section>
@section Scripts{
    <script>
        function ConfirmDelete() {
            let deleteConfirmed = confirm("Are you want to delete?");
            return deleteConfirmed
        }
    </script>
}